
#body-index {
  background-size: 1500px;
}
#tiles_img {
  background-size: auto;

}
h1 {
  color: rgb(222, 155, 41);
  font-size: 70px;
  text-align:center;
  font-family: sans-serif;
  padding-top: 2px;
  padding-bottom: 2px;
  margin:5px;
  text-shadow: -1.5px -2.5px 0px white;
}

h2 {
  color: rgb(196, 159, 85);
  font-size: 30px;
  font-style: italic;
  text-align: center;
  padding: 1px 0px 1px 0px;
  margin: auto;
  text-shadow: -1px -1px 0px white;
}
header {
  background: rgba(0, 0, 0, 0.2);
}
#header_about{
  background: rgba(0, 0, 0, 0.3);
}
ul {
  padding: 0px 0px 5px;
}
li {
  display: inline-block;;
  padding: 0px 50px 0px 30px;

}
.about{
  color: silver;
  font-size: 18px;
  font-family: arial, sans-serif;
  text-decoration: none;
}
footer {
  color: silver;
  font-size: 14px;
  text-align: center;
  margin:10px;
}
#footer_about{
  margin-top: 70px;
}
#tblBoard {
background-color: rgba(194, 199, 190, 0.2);
border-color: rgb(219, 180, 122);
color: rgb(222, 31, 37);
}
#me {
  width:120px;
  margin:30px 30px 40px 80px;
  border-color:beige;
  border-radius:20px;
  border-style: inset;
}
.p {
  color:antiquewhite;
  font-size: 20px;
}
.subtitle {
  color:rgb(228, 166, 59);
  font-weight: bold;
  font-size: 25px;
  text-align:-webkit-center
}
.text {
  display:inline-block;
  float:none;
  text-align:justify;
  margin:10px 100px 30px;
  width:850px;
  height: 200px;
}
#email {
color: white;
font-style: italic;
font-weight: bold;
text-align: center;
}
.contact{
  color: white;
  font-style: italic;
  font-weight: bold;
}
.me {
  display:inline-block;
  clear:both;
  }
.link {
  margin: 100px 450px 20px;
  padding: 0px 0px 20px;
}
.external_link{
  margin:0px 120px 0px 80px;
}
#puzzle_img {
  width:250px;
  margin: 100px 90px 0px 200px;

}
.img_instr {
  display:inline-block;
  float:left;
}

.instructions_text {
  width: 550px;
  display:inline-block;
  margin: 00px 60px 60px 120px;
  text-align: justify ;
}
#info {
  text-align: center;
  color:silver;
  font-size: 18px;
  font-style: italic;
}
.touchingCells {
background-color: lightgoldenrodyellow;
cursor: pointer;
}
